<html>

<head>
    <title>ZipApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    ZipApp
                </h1>
                <h2 class="subtitle">
                    upload your zip files!
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        {% block section %}
        {%endblock %}
    </section>
</body>

</html>